#container {
    margin-left: 10px;
    margin-right: 10px;
}

.table-custom {
  width: 50% !important; /* Adjust this percentage as needed */
  margin: 10 auto !important; /*!important forces to imply the style*/
}



.table-custom th, .table-custom td {
  padding: 0.125rem; /* Reduce padding */
  text-align: left; /* Center-align text */
}

#navbar {
    background-color: blue;
}